body{
    background-color: #808080;
}

/* body{
    background-color: #808080;
} */

/* h2,
p,
h1{
    color: blue;
} */

.nam{
    border: 2px solid red;         /*2px is r=the width of the border*/
    color : red;
}
*{
    padding: 10px;
    margin: 10px 20px 30px 40px;
}